<div>
  <h1 class="doNotRemoveMe">Hello world.</h1>
  <!-- ^ Do not remove this element ^ -->
    <h1>My Recipes</h1>
    <button type="button" *ngIf="!addParameter" (click)="toggleForm()">Add Recipe</button>
    <form [formGroup]="recipeForm" id="add-recipe" *ngIf="addParameter" (ngSubmit)="onSubmit()" >
      <label for="recipe-name">
        recipe-name
      </label>
      <input aria-label="recipe-name" type="text" name="recipe-name" id="name" formControlName="Recipe" />
      <br />
      <label for="recipe-instructions">
        recipe-instructions
      </label>
      <input aria-label="recipe-instructions" type="text" name="recipe-instructions" id="instructions" formControlName="Instructions" />
      <br />
      <button type="submit" *ngIf="addParameter">Submit</button>
    </form>
    <br>
    <ul *ngIf="this.recipeArray.length > 0; else recipeListEmpty">
      <li *ngFor="let recipe of recipeArray" role="listitem">{{recipe}}
      </li>
    </ul>
    <ng-template #recipeListEmpty>      
      There are no recipes to list
    </ng-template>
      
</div>





